langchain>=0.1.0
langchain-community>=0.0.10
langchain-core>=0.3.0
langchain-openai
langchain_ollama
langgraph>=0.2.38
faiss-cpu>=1.7.4
sentence-transformers>=2.2.0
ollama
tqdm>=4.65.0
numpy
pandas
matplotlib>=3.8
pydantic
rich
streamlit
dotenv
requests
scikit-learn
altair
vl-convert-python
openpyxl
pyarrow
rank-bm25
torchvision
langsmith
langchain-anthropic
langchain-ollama
PyYAML
beautifulsoup4
