langchain
langchain-community
langchain-text-splitters
langchain-ollama
langchain-chroma
chromadb
beautifulsoup4
langchain-core
langchain-openai

langchain_community
tiktoken
langchain-openai
langchainhub